@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");

// variables
$header-font: "DM Serif Display", serif;
$background-color: #ece8d9;
$pink-color: #d77f81;
$dark-pink-color: #f7279e;
$text-color: #384a62;
$light-text-color: #708095;
$blue-color: #1da1f2;
$grey-color: #cbcac8;
$shadow-color: #f7f7f7;
